Repository kiririmode/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: textlint, markdownlint, shellcheck

textlint:
  name: textlint
  language: system
  entry: npx textlint

markdownlint:
  name: markdownlint
  language: system
  entry: npx markdownlint-cli

shellcheck:
  name: shellcheck
  language: system
  entry: shellcheck

feat: GitHub Actionsワークフローを並列実行ジョブに分割
  .github/workflows/blog.yml
Due: none

chore: 不要なスクリプトを削除
  scripts/check.sh
  scripts/publish.sh
Due: shellcheck

chore: textlintの文字数制限を160文字に緩和
  .textlintrc
Due: none

chore: .envファイルをgitignoreに追加
  .gitignore
Due: none

chore: devcontainerにdirenv機能を追加
  .devcontainer/devcontainer.json
Due: none

chore: textlint-rule-preset-ai-writingを追加
  package-lock.json
  package.json
Due: none

chore: memory-bankディレクトリを削除
  memory-bank/activeContext.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Due: textlint, markdownlint

feat: SerenaとClaude CodeによるLSPベースのコーディング支援記事を追加
  .markdownlintrc
  kiririmode.hatenablog.jp/entry/_draft/6802888565291694893.md
Due: textlint, markdownlint

chore: 環境変数管理ファイルを追加
  .env.example
  .envrc
Due: none

docs: Serena/Claude Code記事のメタデータを更新
  kiririmode.hatenablog.jp/entry/_draft/6802888565291694893.md
Due: textlint, markdownlint

chore: ドラフトエントリをバージョン管理対象に追加
  .gitignore
Due: none

docs: Serena記事のシーケンス図と説明文の整合性を修正
  kiririmode.hatenablog.jp/entry/_draft/6802888565291694893.md
Due: textlint, markdownlint

feat: Mermaid図のPNG変換機能を追加
  package-lock.json
  package.json
  puppeteer-config.json
  scripts/prepare-publish.js
Due: none

chore: DevContainerにChromium依存関係を追加
  .devcontainer/Dockerfile
Due: none

docs: JavaプロジェクトにおけるSerenaとClaude Codeの活用記事を公開
  kiririmode.hatenablog.jp/entry/20251019/6802888565291694893-1.png
  kiririmode.hatenablog.jp/entry/20251019/6802888565291694893-2.png
  kiririmode.hatenablog.jp/entry/20251019/6802888565291694893.md
Due: textlint, markdownlint

chore: DockerfileにChromium本体を追加
  .devcontainer/Dockerfile
Due: none

fix: Mermaid図の日本語文字化けを修正
  .devcontainer/Dockerfile
Due: none

docs: Mermaid図を日本語フォント対応版に再生成
  kiririmode.hatenablog.jp/entry/20251019/6802888565291694893-1.png
  kiririmode.hatenablog.jp/entry/20251019/6802888565291694893-2.png
  kiririmode.hatenablog.jp/entry/20251019/6802888565291694893.md
Due: textlint, markdownlint

docs: Mermaid図を公開済みの画像URLに置換
  kiririmode.hatenablog.jp/entry/20251019/6802888565291694893.md
Due: textlint, markdownlint

chore: ブログ公開フローをローカル準備優先に変更
  .github/workflows/blog.yml
  CLAUDE.md
  package.json
Due: textlint, markdownlint

feat: Mermaid図のはてなPhotolife自動アップロード機能を追加
  package-lock.json
  package.json
  scripts/prepare-publish.js
Due: none

chore: 環境変数設定ファイルを更新
  .env.example
  .envrc
Due: none

docs: Photolifeアップロード機能の使用方法を記載
  CLAUDE.md
Due: textlint, markdownlint

docs: Claude Agent SkillsとProgressive Disclosureに関する記事を追加
  kiririmode.hatenablog.jp/entry/20251020/6802888565292892142.md
Due: textlint, markdownlint

docs: 参考文献セクションを追加
  kiririmode.hatenablog.jp/entry/20251020/6802888565292892142.md
Due: textlint, markdownlint

docs: Claude Code Plugin Marketplaceを使った設定配布の記事を追加
  kiririmode.hatenablog.jp/entry/20251020/6802888565293181850.md
Due: textlint, markdownlint

docs: Claude Code Plugin Marketplace記事を公開
  kiririmode.hatenablog.jp/entry/20251020/6802888565293181850.md
Due: textlint, markdownlint

chore: devcontainerからClaude Code Pluginのfeatureを削除
  .devcontainer/devcontainer.json
Due: none

docs: TaskChute Cloudログの生成AI分析ツールに関する記事を追加
  kiririmode.hatenablog.jp/entry/20251103/17179246901311301279.md
Due: textlint, markdownlint

chore: devcontainerのpostCreateCommandにClaude Codeインストールを追加
  .devcontainer/devcontainer.json
Due: none

docs: 生成AIとウォーターフォール開発における2つの壁に関する記事を追加
  kiririmode.hatenablog.jp/entry/20251109/17179246901315245505.md
Due: textlint, markdownlint

chore: devcontainerにMarkdown MermaidとDocker outside of Dockerを追加
  .devcontainer/devcontainer.json
Due: none

chore: textlint設定にAI生成対策とである/ですます混在チェックを追加
  .textlintrc
Due: none

docs: Claude Codeカスタムslash commandでPRレビュー認知負荷を低減する記事を追加
  kiririmode.hatenablog.jp/entry/20251116/17179246901320798632-1.png
  kiririmode.hatenablog.jp/entry/20251116/17179246901320798632.md
Due: textlint, markdownlint

chore: devcontainerにClaude Codeプラグインセットアップスクリプトを追加
  .devcontainer/devcontainer.json
  .devcontainer/scripts/setup-claude-plugins.sh
Due: shellcheck

chore: blogsync.yamlを削除
  blogsync.yaml
Due: none

docs: Claude CodeとOpenTelemetry Collector、AMPを使った利用状況可視化の記事を追加
  kiririmode.hatenablog.jp/entry/20251124/17179246901324758446-1.png
  kiririmode.hatenablog.jp/entry/20251124/17179246901324758446-2.png
  kiririmode.hatenablog.jp/entry/20251124/17179246901324758446.md
Due: textlint, markdownlint

chore: textlintのja-no-weak-phraseルールを無効化
  .textlintrc
Due: none

feat: GitHub CopilotとObsidianを使ったZettelkasten知識管理の記事を追加
  kiririmode.hatenablog.jp/entry/20251130/17179246901327013542.md
Due: textlint, markdownlint

fix: Zettelkasten記事の画像URLを更新
  kiririmode.hatenablog.jp/entry/20251130/17179246901327013542.md
Due: textlint, markdownlint

Path conditions:
  textlint: any of: \.md$
  markdownlint: any of: \.md$
  shellcheck: any of: \.sh$
