Repository kiririmode/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: textlint, markdownlint, shellcheck

textlint:
  name: textlint
  language: system
  entry: npx textlint

markdownlint:
  name: markdownlint
  language: system
  entry: npx markdownlint-cli

shellcheck:
  name: shellcheck
  language: system
  entry: shellcheck

feat: 生成AIのフィードバックとマネジメントに関する新規記事を追加
  kiririmode.hatenablog.jp/entry/_draft/17179246901329747529.md
Due: textlint, markdownlint

feat: 生成AIフィードバック記事に継続学習の重要性を追加
  kiririmode.hatenablog.jp/entry/_draft/17179246901329747529.md
Due: textlint, markdownlint

feat: 生成AIへのフィードバックとマネジメントに関する記事を公開
  kiririmode.hatenablog.jp/entry/20251225/17179246901329747529-1.png
  kiririmode.hatenablog.jp/entry/20251225/17179246901329747529-2.png
  kiririmode.hatenablog.jp/entry/20251225/17179246901329747529-3.png
  kiririmode.hatenablog.jp/entry/20251225/17179246901329747529-4.png
  kiririmode.hatenablog.jp/entry/20251225/17179246901329747529.md
  kiririmode.hatenablog.jp/entry/_draft/17179246901329747529.md
  puppeteer-config.json
Due: textlint, markdownlint

feat: コンシステントハッシュ法の負荷分散に関する記事を追加
  kiririmode.hatenablog.jp/entry/20251228/17179246901337556751-1.png
  kiririmode.hatenablog.jp/entry/20251228/17179246901337556751.md
Due: textlint, markdownlint

chore: devcontainerにGitHub CLIを追加
  .devcontainer/Dockerfile
Due: none

chore: Puppeteer設定をLinux環境に対応
  puppeteer-config.json
Due: none

fix: Mermaid変換時の致命的エラーと軽微なエラーを区別
  scripts/prepare-publish.js
Due: none

feat: ブログエントリ2件を追加
  kiririmode.hatenablog.jp/entry/20251228/17179246901337793915-1.png
  kiririmode.hatenablog.jp/entry/20251228/17179246901337793915-2.png
  kiririmode.hatenablog.jp/entry/20251228/17179246901337793915.md
  kiririmode.hatenablog.jp/entry/20251230/1767089656.md
Due: textlint, markdownlint

chore(ci): blogsyncをv0.20.1にアップグレード
  .github/workflows/blog.yml
Due: none

fix: hatena-fotolife-apiのインポート方法を修正
  scripts/prepare-publish.js
Due: none

feat: MacのJISキーボードで¥をバックスラッシュに変換する記事を追加
  kiririmode.hatenablog.jp/entry/20251230/17179246901338412328-1.png
  kiririmode.hatenablog.jp/entry/20251230/17179246901338412328.md
Due: textlint, markdownlint

fix: blogsync設定ファイル作成ステップをGitHub Actionsに追加
  .github/workflows/blog.yml
Due: none

docs: プロジェクトドキュメントと設定を更新
  .env.example
  CLAUDE.md
  package.json
Due: textlint, markdownlint

chore: MCP server設定ファイルを追加
  .mcp.json
Due: none

feat: 新規ブログエントリを追加
  kiririmode.hatenablog.jp/entry/20251230/17179246901338476215.md
Due: textlint, markdownlint

docs: 執筆の理念の説明を改善
  CLAUDE.md
Due: textlint, markdownlint

chore: markdownlintのsingle-titleルールを無効化
  .markdownlint.json
Due: none

chore: GitHub Actionsのトリガーブランチをmainに変更
  .github/workflows/blog.yml
Due: none

feat: WSL2開発環境でのファイル配置に関するブログエントリを追加
  kiririmode.hatenablog.jp/entry/_draft/17179246901338514059.md
Due: textlint, markdownlint

feat: WSL2開発環境でのファイル配置に関するブログエントリを公開準備
  kiririmode.hatenablog.jp/entry/20251230/17179246901338514059-1.png
  kiririmode.hatenablog.jp/entry/20251230/17179246901338514059-2.png
  kiririmode.hatenablog.jp/entry/20251230/17179246901338514059.md
  kiririmode.hatenablog.jp/entry/_draft/17179246901338514059.md
Due: textlint, markdownlint

chore: textlintで「ある」の連続使用を許可
  .textlintrc
Due: none

feat: 『実践Claude Code入門』の書評記事を追加
  kiririmode.hatenablog.jp/entry/20260101/17179246901339077518.md
Due: textlint, markdownlint

chore: NODE_TLS_REJECT_UNAUTHORIZEDの値を引用符で囲む
  .env.example
Due: none

feat: 『実践Claude Code入門』書評記事を公開準備
  kiririmode.hatenablog.jp/entry/20260101/17179246901339077518.md
Due: textlint, markdownlint

fix: Claude Code書評記事の公開準備のための修正
  kiririmode.hatenablog.jp/entry/20260101/17179246901339077518.md
Due: textlint, markdownlint

feat: WSL2のlocalhost転送機構に関するブログエントリを追加
  kiririmode.hatenablog.jp/entry/20260102/17179246901339456166-1.png
  kiririmode.hatenablog.jp/entry/20260102/17179246901339456166.md
Due: textlint, markdownlint

chore: コミットコマンドの仕様を改善
  .claude/commands/commit.md
Due: textlint, markdownlint

fix: ブログ記事のWSL2ネットワーク解説の技術的誤りを修正
  kiririmode.hatenablog.jp/entry/20260102/17179246901339456166.md
Due: textlint, markdownlint

feat: PR作成を自動化するpullrequestコマンドを追加
  .claude/commands/pullrequest.md
Due: textlint, markdownlint

chore: コンテンツガイドラインを分離してドキュメントを整理
  CLAUDE.md
  docs/contents-guideline.md
Due: textlint, markdownlint

feat: new-entryコマンドを追加
  .claude/commands/new-entry.md
Due: textlint, markdownlint

docs: 2025年買ってよかったガジェット記事の下書きを作成
  kiririmode.hatenablog.jp/entry/_draft/17179246901340183083.md
Due: textlint, markdownlint

chore: ローカルのClaude Code設定を開発環境で共有
  .devcontainer/devcontainer.json
  .devcontainer/scripts/fix-claude-permissions.sh
Due: shellcheck

chore: プラグインの自動インストールを削除
  .devcontainer/scripts/setup-claude-plugins.sh
Due: shellcheck

docs: 2025年買ってよかったガジェット記事を公開準備
  kiririmode.hatenablog.jp/entry/20260103/17179246901340183083.md
Due: textlint, markdownlint

chore: new-entryコマンドの手順順序を訂正
  .claude/commands/new-entry.md
Due: textlint, markdownlint

docs: GitHub Copilot coding agentのコスト最適化記事を追加
  kiririmode.hatenablog.jp/entry/_draft/17179246901340401717.md
Due: textlint, markdownlint

docs: GitHub Copilot coding agent記事を公開準備
  kiririmode.hatenablog.jp/entry/20260104/17179246901340401717.md
  kiririmode.hatenablog.jp/entry/_draft/17179246901340401717.md
Due: textlint, markdownlint

docs: 記事のフロントマターを公開用に更新
  kiririmode.hatenablog.jp/entry/20260104/17179246901340401717.md
Due: textlint, markdownlint

feat: エントリ作成スキルを追加し、ガイドラインを再構成、ブログエントリ3本を追加
  .claude/skills/entry/SKILL.md
  .claude/skills/entry/references/contents-guideline.md
  .claude/skills/entry/references/structure-guideline.md
  .claude/skills/entry/references/title-guildeline.md
  kiririmode.hatenablog.jp/entry/20260105/17179246901340965796.md
  kiririmode.hatenablog.jp/entry/20260207/17179246901350043980.md
  kiririmode.hatenablog.jp/entry/20260228/17179246901359371247.md
Due: textlint, markdownlint

Path conditions:
  textlint: any of: \.md$
  markdownlint: any of: \.md$
  shellcheck: any of: \.sh$
